# 忽略 Mac 系统文件
.DS_Store

# 忽略 CMake 构建目录
build/
cmake-build-debug/
.cmake/

# 忽略 IDE 配置文件 (VSCode / Xcode)
.vscode/
.idea/
*.xcodeproj/
*.xcworkspace/

# (可选) 如果 .onnx 模型大于 100MB，必须忽略它，或者使用 Git LFS
# ResNet18 通常只有 45MB 左右，可以直接上传。
# 如果不想上传模型，取消下面这行的注释:
# *.onnx